body {

background-color: aliceblue;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT86iJvp54hrck5J0JbDMuDrlQsp_FHJ2VNmw&usqp=CAU)
}

.boxed 
{
    
        width: 400px;
        height: 600px;
        padding: 50px;
        border: 1px solid red;
        box-sizing: border-box;
        background-color: white;
        align-self: center;
        margin: auto;
        width: 70%;
        border: 15px solid green;
        padding: 15px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwDovKKHjQVmeeYzNxe1we6rnx1un9gUa7yw&usqp=CAU);
}
hi {

    color: Red;
    align-self: center;
    font: 1em sans-serif;


}
h4 {
    color: Red;
    align-self: center;
    font: 1em sans-serif;

}
.col{
    float: center;
    width: 50%;
  }

  #time 
  {
font-size: 30px;
color: red;
  }

  .btn btn-primary btn-lg {

    background-color: red;
    
      }
  }